<nav class="sidebar">
    <div class="sidebar-header">
        <a href="#" class="sidebar-brand">
            Softech<span>School</span>
        </a>
        <div class="sidebar-toggler not-active">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="sidebar-body">
        <ul class="nav ulfont3">
            <li class="nav-item nav-category">Main</li>
            <li class="nav-item">
                <a href="" class="nav-link">
                    <i class="link-icon ti-home"></i>
                    <span class="link-title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" data-target="#advancedUI" href="" role="button" aria-expanded="false" aria-controls="advancedUI">
                    <i class="link-icon ti-reload"></i>
                    <span class="link-title">Intial Setting</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="advancedUI">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a href="" class="nav-link">Add Session</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Add Staff Proffessions</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Add Staff</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Add Subjects</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Add Sections</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Add Classes</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Add Term</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" data-target="#Feemanage" href="" role="button" aria-expanded="false" aria-controls="Feemanage">
                    <i class="link-icon ti-layout-grid2-thumb"></i>
                    <span class="link-title">Fee Management</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="Feemanage">
                    <ul class="nav sub-menu">

                        <li class="nav-item">
                            <a href="" class="nav-link">Add Fee For Classes</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link"> Add Payments</a>
                        </li>

                        <li class="nav-item">
                            <a href="" class="nav-link">Monthly Fee Submission</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Individual Fee Submission</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">View Fees</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" data-target="#Transaction" href="" role="button" aria-expanded="false" aria-controls="Transaction">
                    <i class="link-icon ti-world"></i>
                    <span class="link-title">Transaction</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="Transaction">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a href="" class="nav-link"> Income</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link"> Expencies</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" data-target="#Student" href="" role="button" aria-expanded="false" aria-controls="Student">
                    <i class="link-icon ti-id-badge"></i>
                    <span class="link-title">Students</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="Student">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="">Student Admission</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Add to Section ClassWise</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Add Individually To Sections</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Promote Class Wise</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Promote Individualy</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" data-target="#Attendance" href="" role="button" aria-expanded="false" aria-controls="Attendance">
                    <i class="link-icon ti-pulse"></i>
                    <span class="link-title">Attendance</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="Attendance">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" href=""> Class Attendance</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=""> Staff Attendance</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=""> All Attendance Report</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" data-target="#Exam" href="" role="button" aria-expanded="false" aria-controls="Exam">
                    <i class="link-icon ti-shine"></i>
                    <span class="link-title"> Manage Exam</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="Exam">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" href=""> Add Result</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=""> Print Result</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link"  href=""> Print DMC</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href=""> Award List</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" data-target="#Exam1" href="" role="button" aria-expanded="false" aria-controls="Exam1">
                    <i class="link-icon ti-shine"></i>
                    <span class="link-title"> SMS</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="Exam1">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="">Send SMS</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>