.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.nav-link {
    display: block;
    padding: .5rem 1rem
}

.nav-link:focus,
.nav-link:hover {
    text-decoration: none
}

.nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default
}

.nav-tabs {
    border-bottom: 1px solid #ebedf2
}

.nav-tabs .nav-item {
    margin-bottom: -1px
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: #ebedf2 #ebedf2 #ebedf2
}

.nav-tabs .nav-link.disabled {
    color: #6c757d;
    background-color: transparent;
    border-color: transparent
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #000;
    background-color: #fff;
    border-color: #ebedf2 #ebedf2 #fff
}

.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.nav-pills .nav-link {
    border-radius: .25rem
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #007bff
}

.nav-fill .nav-item {
    flex: 1 1 auto;
    text-align: center
}

.nav-justified .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center
}

.tab-content>.tab-pane {
    display: none
}

.tab-content>.active {
    display: block
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem
}

.navbar>.container,
.navbar>.container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap
}

.navbar-brand:focus,
.navbar-brand:hover {
    text-decoration: none
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none
}

.navbar-text {
    display: inline-block;
    padding-top: .5rem;
    padding-bottom: .5rem
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem
}

.navbar-toggler:focus,
.navbar-toggler:hover {
    text-decoration: none
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%
}

@media (max-width:575.98px) {
    .navbar-expand-sm>.container,
    .navbar-expand-sm>.container-fluid {
        padding-right: 0;
        padding-left: 0
    }
}

@media (min-width:576px) {
    .navbar-expand-sm {
        flex-flow: row nowrap;
        justify-content: flex-start
    }
    .navbar-expand-sm .navbar-nav {
        flex-direction: row
    }
    .navbar-expand-sm .navbar-nav .dropdown-menu {
        position: absolute
    }
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem
    }
    .navbar-expand-sm>.container,
    .navbar-expand-sm>.container-fluid {
        flex-wrap: nowrap
    }
    .navbar-expand-sm .navbar-collapse {
        display: flex !important;
        flex-basis: auto
    }
    .navbar-expand-sm .navbar-toggler {
        display: none
    }
}

@media (max-width:767.98px) {
    .navbar-expand-md>.container,
    .navbar-expand-md>.container-fluid {
        padding-right: 0;
        padding-left: 0
    }
}

@media (min-width:768px) {
    .navbar-expand-md {
        flex-flow: row nowrap;
        justify-content: flex-start
    }
    .navbar-expand-md .navbar-nav {
        flex-direction: row
    }
    .navbar-expand-md .navbar-nav .dropdown-menu {
        position: absolute
    }
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem
    }
    .navbar-expand-md>.container,
    .navbar-expand-md>.container-fluid {
        flex-wrap: nowrap
    }
    .navbar-expand-md .navbar-collapse {
        display: flex !important;
        flex-basis: auto
    }
    .navbar-expand-md .navbar-toggler {
        display: none
    }
}

@media (max-width:991.98px) {
    .navbar-expand-lg>.container,
    .navbar-expand-lg>.container-fluid {
        padding-right: 0;
        padding-left: 0
    }
}

@media (min-width:992px) {
    .navbar-expand-lg {
        flex-flow: row nowrap;
        justify-content: flex-start
    }
    .navbar-expand-lg .navbar-nav {
        flex-direction: row
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem
    }
    .navbar-expand-lg>.container,
    .navbar-expand-lg>.container-fluid {
        flex-wrap: nowrap
    }
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto
    }
    .navbar-expand-lg .navbar-toggler {
        display: none
    }
}

@media (max-width:1199.98px) {
    .navbar-expand-xl>.container,
    .navbar-expand-xl>.container-fluid {
        padding-right: 0;
        padding-left: 0
    }
}

@media (min-width:1200px) {
    .navbar-expand-xl {
        flex-flow: row nowrap;
        justify-content: flex-start
    }
    .navbar-expand-xl .navbar-nav {
        flex-direction: row
    }
    .navbar-expand-xl .navbar-nav .dropdown-menu {
        position: absolute
    }
    .navbar-expand-xl .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem
    }
    .navbar-expand-xl>.container,
    .navbar-expand-xl>.container-fluid {
        flex-wrap: nowrap
    }
    .navbar-expand-xl .navbar-collapse {
        display: flex !important;
        flex-basis: auto
    }
    .navbar-expand-xl .navbar-toggler {
        display: none
    }
}

.navbar-expand {
    flex-flow: row nowrap;
    justify-content: flex-start
}

.navbar-expand>.container,
.navbar-expand>.container-fluid {
    padding-right: 0;
    padding-left: 0
}

.navbar-expand .navbar-nav {
    flex-direction: row
}

.navbar-expand .navbar-nav .dropdown-menu {
    position: absolute
}

.navbar-expand .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem
}

.navbar-expand>.container,
.navbar-expand>.container-fluid {
    flex-wrap: nowrap
}

.navbar-expand .navbar-collapse {
    display: flex !important;
    flex-basis: auto
}

.navbar-expand .navbar-toggler {
    display: none
}

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, .9)
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: rgba(0, 0, 0, .9)
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .5)
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0, 0, 0, .7)
}

.navbar-light .navbar-nav .nav-link.disabled {
    color: rgba(0, 0, 0, .3)
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0, 0, 0, .9)
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .5);
    border-color: rgba(0, 0, 0, .1)
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-light .navbar-text {
    color: rgba(0, 0, 0, .5)
}

.navbar-light .navbar-text a {
    color: rgba(0, 0, 0, .9)
}

.navbar-light .navbar-text a:focus,
.navbar-light .navbar-text a:hover {
    color: rgba(0, 0, 0, .9)
}

.navbar-dark .navbar-brand {
    color: #fff
}

.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover {
    color: #fff
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .5)
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, .75)
}

.navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, .25)
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: #fff
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, .5);
    border-color: rgba(255, 255, 255, .1)
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-dark .navbar-text {
    color: rgba(255, 255, 255, .5)
}

.navbar-dark .navbar-text a {
    color: #fff
}

.navbar-dark .navbar-text a:focus,
.navbar-dark .navbar-text a:hover {
    color: #fff
}

.sidebar {
    width: 230px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    -webkit-transition: width .1s ease, margin .1s ease-out;
    transition: width .1s ease, margin .1s ease-out;
    z-index: 999
}

.sidebar .sidebar-header {
    background: #fff;
    height: 60px;
    border-bottom: 1px solid #f2f4f9;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 25px;
    border-right: 1px solid #f2f4f9;
    z-index: 999;
    width: 100%;
    -webkit-transition: width .1s ease;
    transition: width .1s ease
}

.sidebar-open .sidebar .sidebar-header {
    border-bottom: 1px solid #e8ebf1
}

.sidebar .sidebar-header .sidebar-brand {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
    font-weight: 900;
    font-size: 25px;
    letter-spacing: -1px;
    color: #031a61
}

.sidebar .sidebar-header .sidebar-brand span {
    color: #727cf5;
    font-weight: 300
}

.sidebar .sidebar-header .sidebar-toggler {
    cursor: pointer;
    width: 18px
}

.sidebar .sidebar-header .sidebar-toggler span {
    display: block;
    width: 100%;
    border-radius: 3px;
    height: 2px;
    background: #535353;
    -webkit-transition: all .3s;
    transition: all .3s;
    position: relative
}

.sidebar .sidebar-header .sidebar-toggler span+span {
    margin-top: 4px
}

.sidebar .sidebar-header .sidebar-toggler.active span:nth-child(1) {
    -webkit-animation: ease .6s top forwards;
    animation: ease .6s top forwards
}

.sidebar .sidebar-header .sidebar-toggler.not-active span:nth-child(1) {
    -webkit-animation: ease .6s top-2 forwards;
    animation: ease .6s top-2 forwards
}

.sidebar .sidebar-header .sidebar-toggler.active span:nth-child(2) {
    -webkit-animation: ease .6s scaled forwards;
    animation: ease .6s scaled forwards
}

.sidebar .sidebar-header .sidebar-toggler.not-active span:nth-child(2) {
    -webkit-animation: ease .6s scaled-2 forwards;
    animation: ease .6s scaled-2 forwards
}

.sidebar .sidebar-header .sidebar-toggler.active span:nth-child(3) {
    -webkit-animation: ease .6s bottom forwards;
    animation: ease .6s bottom forwards
}

.sidebar .sidebar-header .sidebar-toggler.not-active span:nth-child(3) {
    -webkit-animation: ease .6s bottom-2 forwards;
    animation: ease .6s bottom-2 forwards
}

.sidebar .sidebar-body {
    max-height: calc(100% - 60px);
    position: relative;
    border-right: 1px solid #f2f4f9;
    height: 100%;
    -webkit-box-shadow: 0 8px 10px 0 rgba(183, 192, 206, .2);
    box-shadow: 0 8px 10px 0 rgba(183, 192, 206, .2);
    background: #fff
}

.sidebar .sidebar-body .nav {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 25px 25px 50px 25px
}

.sidebar .sidebar-body .nav .nav-item {
    margin-top: 20px;
    position: relative
}

.sidebar .sidebar-body .nav .nav-item .nav-link {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 0;
    height: 32px;
    white-space: nowrap;
    color: #000
}

.sidebar .sidebar-body .nav .nav-item .nav-link .link-icon {
    width: 16px;
    height: 16px;
    fill: rgba(233, 236, 239, .21);
    position: absolute;
    color: inherit
}

.sidebar .sidebar-body .nav .nav-item .nav-link .link-title {
    margin-left: 30px;
    font-size: 14px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.sidebar .sidebar-body .nav .nav-item .nav-link .link-arrow {
    width: 14px;
    height: 14px;
    margin-left: auto;
    -webkit-transition: all .3s ease;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: inherit
}

.sidebar .sidebar-body .nav .nav-item .nav-link .link-arrow,
.sidebar .sidebar-body .nav .nav-item .nav-link .link-icon,
.sidebar .sidebar-body .nav .nav-item .nav-link .link-title {
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.sidebar .sidebar-body .nav .nav-item .nav-link[aria-expanded=true] {
    color: #727cf5
}

.sidebar .sidebar-body .nav .nav-item .nav-link[aria-expanded=true] .link-arrow {
    -webkit-transform: rotate(90deg);
    transform: rotate(180deg)
}

.sidebar .sidebar-body .nav .nav-item.nav-category {
    color: #686868;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .5px;
    margin-bottom: 5px;
    height: 15px
}

.sidebar .sidebar-body .nav .nav-item.nav-category:not(:first-child) {
    margin-top: 20px
}

.sidebar .sidebar-body .nav .nav-item:hover .nav-link {
    color: #727cf5
}

.sidebar .sidebar-body .nav .nav-item:hover .nav-link .link-title {
    margin-left: 31px
}

.sidebar .sidebar-body .nav .nav-item:hover .nav-link .link-icon {
    color: #727cf5;
    fill: rgba(239, 243, 255, .5)
}

.sidebar .sidebar-body .nav .nav-item.active .nav-link {
    color: #727cf5
}

.sidebar .sidebar-body .nav .nav-item.active .nav-link::before {
    content: '';
    width: 3px;
    height: 26px;
    background: #727cf5;
    position: absolute;
    left: -25px
}

.sidebar .sidebar-body .nav .nav-item.active .nav-link .link-icon {
    fill: rgba(239, 243, 255, .5);
    color: #727cf5
}

.sidebar .sidebar-body .nav.sub-menu {
    padding: 0 0 15px 33px
}

.sidebar .sidebar-body .nav.sub-menu .nav-item {
    position: relative
}

.sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link {
    height: 25px;
    color: #000;
    font-size: 13px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link::before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: 0 0;
    border: 1px solid #a9b4ca;
    position: absolute;
    left: -29px;
    top: 10px;
    -webkit-transition: all .7s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link.active {
    color: #727cf5
}

.sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link.active::before {
    border: 1px solid #727cf5;
    background: #727cf5
}

.sidebar .sidebar-body .nav.sub-menu .nav-item:hover .nav-link {
    color: #727cf5;
    margin-left: 3px
}

.sidebar .sidebar-body .nav.sub-menu .nav-item:hover .nav-link::before {
    border: 1px solid #727cf5;
    background: #727cf5
}

@media (max-width:991px) {
    .sidebar {
        z-index: 999;
        margin-left: -240px;
        visibility: hidden
    }
    .sidebar-open .sidebar {
        margin-left: 0;
        visibility: visible
    }
    .sidebar .sidebar-body .nav .nav-item {
        width: auto
    }
    .sidebar .sidebar-body .nav .nav-item .nav-link .link-icon {
        -webkit-transition: none;
        transition: none;
        margin: 0
    }
}

.sidebar-dark .sidebar .sidebar-header {
    background: #304357;
    border-bottom: 1px solid #f3f4f6;
    border-right: 1px solid #304357;
}

.sidebar-dark .sidebar .sidebar-header .sidebar-brand {
    color: #f8f9fc
}

.sidebar-dark .sidebar .sidebar-header .sidebar-toggler span {
    background: #9fa2ab
}

.sidebar-dark .sidebar .sidebar-body {
    background: #3c4a64;
    border-right: 1px solid #304357
}

.sidebar-dark .sidebar .sidebar-body .nav .nav-item.nav-category {
    color: #fff
}

.sidebar-dark .sidebar .sidebar-body .nav .nav-item .nav-link {
    color: #bfc3ce
}

.sidebar-dark .sidebar .sidebar-body .nav .nav-item .nav-link svg {
    fill: none
}

.sidebar-dark .sidebar .sidebar-body .nav .nav-item .nav-link[aria-expanded=true] {
    color: #727cf5
}

.sidebar-dark .sidebar .sidebar-body .nav .nav-item.active .nav-link svg,
.sidebar-dark .sidebar .sidebar-body .nav .nav-item:hover .nav-link svg {
    fill: rgba(114, 124, 245, .2);
    background-color: #425c78;
    color: #1abc9c;
}

.sidebar-dark .sidebar .sidebar-body .nav .nav-item.active .nav-link .link-title,
.sidebar-dark .sidebar .sidebar-body .nav .nav-item:hover .nav-link .link-title {
    color: #727cf5
}

.settings-sidebar {
    position: fixed;
    right: -232px;
    top: 130px;
    width: 232px;
    background: #fff;
    -webkit-box-shadow: -3px 0 10px 0 rgba(183, 192, 206, .2);
    box-shadow: -3px 0 10px 0 rgba(183, 192, 206, .2);
    z-index: 999;
    border-radius: 0 0 0 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.settings-open .settings-sidebar {
    right: 0
}

.settings-sidebar .sidebar-body {
    position: relative;
    padding: 18px
}

.settings-sidebar .sidebar-body .settings-sidebar-toggler {
    position: absolute;
    left: -44px;
    top: 0;
    padding: 12px;
    border-radius: 4px 0 0 4px;
    background: #fff;
    -webkit-box-shadow: -3px 0 10px 0 rgba(183, 192, 206, .2);
    box-shadow: -3px 0 10px 0 rgba(183, 192, 206, .2)
}

.settings-sidebar .sidebar-body .settings-sidebar-toggler svg {
    width: 20px;
    height: 20px;
    color: #686868
}

.settings-sidebar .sidebar-body .theme-wrapper .theme-item {
    position: relative;
    display: block;
    margin-bottom: 19px;
    border-radius: 6px;
    border: 3px solid #ececec
}

.settings-sidebar .sidebar-body .theme-wrapper .theme-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(114, 124, 245, 0)
}

.settings-sidebar .sidebar-body .theme-wrapper .theme-item:last-child {
    margin-bottom: 0
}

.settings-sidebar .sidebar-body .theme-wrapper .theme-item.active {
    border: 3px solid #b9befa
}

.settings-sidebar .sidebar-body .theme-wrapper .theme-item img {
    width: 100%;
    border-radius: 3px
}

.settings-sidebar .sidebar-body .theme-wrapper .theme-item:hover::after {
    background: rgba(114, 124, 245, .2);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.sidebar-folded .sidebar .sidebar-header {
    width: 70px
}

.sidebar-folded .sidebar .sidebar-header .sidebar-brand {
    display: none
}

.sidebar-folded .page-wrapper {
    width: calc(100% - 70px);
    margin-left: 70px
}

.sidebar-folded .page-wrapper .navbar {
    width: calc(100% - 70px);
    left: 70px;
    right: 0
}

.sidebar-folded:not(.open-sidebar-folded) .sidebar {
    width: 70px
}

.sidebar-folded:not(.open-sidebar-folded) .sidebar .sidebar-header {
    width: 70px
}

.sidebar-folded:not(.open-sidebar-folded) .sidebar .sidebar-header .sidebar-brand {
    opacity: 0;
    visibility: hidden;
    width: 0
}

.sidebar-folded:not(.open-sidebar-folded) .sidebar .sidebar-body .nav .nav-item .nav-link .link-arrow,
.sidebar-folded:not(.open-sidebar-folded) .sidebar .sidebar-body .nav .nav-item .nav-link .link-title {
    visibility: hidden;
    opacity: 0
}

.sidebar-folded:not(.open-sidebar-folded) .sidebar .sidebar-body .nav .nav-item.nav-category {
    visibility: hidden
}

.sidebar-folded:not(.open-sidebar-folded) .sidebar .sidebar-body .nav .nav-item.nav-category::before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #9b9b9b;
    position: absolute;
    top: 5px;
    left: 6px;
    visibility: visible
}

.sidebar-folded:not(.open-sidebar-folded) .sidebar .sidebar-body .nav.sub-menu {
    display: none
}

@media (max-width:991px) {
    .settings-open .main-wrapper::before,
    .sidebar-open .main-wrapper::before {
        content: '';
        width: 100vw;
        background: rgba(0, 0, 0, .3);
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 99;
        -webkit-transition: all 3s ease;
        transition: all 3s ease;
        z-index: 980
    }
}

.rtl {
    direction: rtl;
    text-align: right
}

.rtl .main-wrapper .sidebar {
    right: 0;
    left: auto
}

@media (max-width:991px) {
    .rtl .main-wrapper .sidebar {
        margin-right: -240px
    }
    .sidebar-open.rtl .main-wrapper .sidebar {
        margin-right: 0
    }
}

.rtl .main-wrapper .sidebar .sidebar-header {
    border-right: 0;
    border-left: 1px solid #f2f4f9
}

.sidebar-dark.rtl .main-wrapper .sidebar .sidebar-header {
    border-left: 1px solid #304357
}

.rtl .main-wrapper .sidebar .sidebar-body {
    direction: ltr
}

.rtl .main-wrapper .sidebar .sidebar-body .nav {
    width: 100%
}

@media (min-width:992px) {
    .rtl .main-wrapper .sidebar .sidebar-body .nav {
        direction: rtl
    }
}

.rtl .main-wrapper .sidebar .sidebar-body .nav .nav-item {
    width: 100%;
    direction: ltr
}

.rtl .main-wrapper .sidebar .sidebar-body .nav .nav-item .nav-link {
    direction: rtl
}

.rtl .main-wrapper .sidebar .sidebar-body .nav .nav-item .nav-link .link-title {
    margin-left: 0;
    margin-right: 30px
}

.rtl .main-wrapper .sidebar .sidebar-body .nav .nav-item .nav-link .link-arrow {
    margin-left: 0;
    margin-right: auto
}

.rtl .main-wrapper .sidebar .sidebar-body .nav .nav-item.active .nav-link::before {
    right: -25px;
    left: auto
}

.rtl .main-wrapper .sidebar .sidebar-body .nav .nav-item.nav-category::before {
    right: 6px
}

.rtl .main-wrapper .sidebar .sidebar-body .nav.sub-menu {
    padding: 0 33px 15px 0
}

.rtl .main-wrapper .sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link::before {
    left: auto;
    right: -29px
}

.rtl .main-wrapper .settings-sidebar {
    right: auto;
    left: -232px;
    border-radius: 0 0 4px 0;
    -webkit-box-shadow: 3px 0 10px 0 rgba(183, 192, 206, .2);
    box-shadow: 3px 0 10px 0 rgba(183, 192, 206, .2)
}

.settings-open.rtl .main-wrapper .settings-sidebar {
    right: auto;
    left: 0
}

.rtl .main-wrapper .settings-sidebar .sidebar-body .settings-sidebar-toggler {
    left: auto;
    right: -44px;
    -webkit-box-shadow: 3px 0 10px 0 rgba(183, 192, 206, .2);
    box-shadow: 3px 0 10px 0 rgba(183, 192, 206, .2);
    border-radius: 0 4px 4px 0
}

@media (min-width:992px) {
    .rtl .main-wrapper .page-wrapper {
        margin-left: 0;
        margin-right: 240px
    }
    .sidebar-folded.rtl .main-wrapper .page-wrapper {
        margin-right: 70px
    }
}

@media (max-width:991px) {
    .rtl .main-wrapper .page-wrapper {
        margin-right: 0;
        width: 100%
    }
}

.rtl .main-wrapper .page-wrapper.full-page {
    margin-right: 0;
    margin-left: 0
}

.rtl .main-wrapper .page-wrapper .navbar {
    -webkit-transition: width .1s ease, right .1s ease;
    transition: width .1s ease, right .1s ease
}

@media (min-width:992px) {
    .rtl .main-wrapper .page-wrapper .navbar {
        left: 0;
        right: 240px;
        -webkit-transition: width .1s ease, right .1s ease;
        transition: width .1s ease, right .1s ease
    }
    .sidebar-folded.rtl .main-wrapper .page-wrapper .navbar {
        right: 70px;
        width: calc(100% - 70px)
    }
}

.ulfont3 a {
    font-size: 14px;
    color: #fff;
    line-height: 26px;
}

.ulfont3 a:hover {
    color: #89d74d;
}