<div class="row">
    <div class="col-12 col-xl-12 grid-margin stretch-card">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-4 mb-md-3">
                    <h6 class="card-title mb-0"> Monthly Fee Submission</h6>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <form class="form-inline">
                            <select ng-options="item.cls_title for item in getAllClasses track by item.cls_id" class="form-control input col-md-2" ng-change="getSections(srch.classId.cls_id)" ng-model="srch.classId">
                                <option value="" selected="">Select Class</option>
                            </select>
                            <select ng-options="item.sec_title for item in dataSection track by item.sec_id" class="form-control input col-md-2" ng-model="srch.section">
                                <option value="" selected=""> Select Section</option>
                            </select>
                            <input type="text" class="form-control col-md-2 input" id="datepickerM" name="datepickerM" ng-model="srch.date1" placeholder="Select Month" autocomplete="off" />
                            <input type="text" class="form-control col-md-2 input" id="datepickerY" name="datepickerY" ng-model="srch.date2" placeholder="Select Year" autocomplete="off" />
                            <button class="btn btn-info input" ng-click="getAllFees(srch)"><i class="ti-search" aria-hidden="true"></i> Search</button>
                            <button ng-click="clearData()" class="btn btn-danger input" href=""><i class="ti-brush"></i> Clear</button>
                        </form>
                        <div class="table-responsive tbl-mlmis text-capitalize">
                            <table class="table table-bordered table-hover" id="" cellspacing="0" width="100%">
                                <thead class="thead-default">
                                    <tr>
                                        <th>
                                            <!--<input class="checkall" type="checkbox"  id="checkAll">-->
                                            <input type="checkbox" id="cat1main"  ng-change="checkall1()" ng-init="object2.selected1=false"  ng-model="object2.selected1" />
                                            Select All
                                        </th>
                                        <th>Name/F-Name</th>                               
                                        <th>Amount</th>
                                        <th>Balance</th>
                                        <th>Class</th>
                                        <th>
                                            <button type="button" class="btn btn-white input" ng-click="addFee()"><i class="ti-plus" aria-hidden="true"></i> Save Fee</button>
                                            <button type="button" class="btn btn-white input" ng-click="resetFeeFunc()"><i class="ti-reload" aria-hidden="true"></i> Reset Fee</button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="fee in allFeeArray track by $index">
                                       <td>
                                            <input type="checkbox" id="check{{fee.std_id}}" ng-model="seletedones[fee.std_id]" ng-change="selectchecked()" /> 
                                       </td>                              
                                        <td>
                                            <a href="" ui-sref="StudentProfile">{{ fee.std_name }}/{{ fee.std_fName }}</a>
                                        </td>                               
                                        <td>{{ fee.fee_chng }}</td>
                                        <td>{{ fee.std_balance }}</td>
                                        <td>
                                            <span>{{fee.cls_title}} /</span>

                                            <span class="text-danger" ng-if="fee.sec_title=='null' ||fee.sec_title==0 || fee.sec_title=='undefined'">NA</span>
                                            <span> {{fee.sec_title}}</span>
                                        </td>
                                        <td>
                                            <div class='col-md-12'>
                                                <form class="form-inline" name="Form">
                                                    <div class="form-group">
                                                        <input name="Fee" type="text" class="form-control input col-md-6" ng-model="fee.fee_payable" placeholder="Fee">
                                                        <!-- <input  type="text"  disabled="disabled" ng-model="month" name="datepickerEM" placeholder="Select Month" /> -->
                                                        <div class="col-md-3">
                                                            <span ng-if="month==1">Jan</span>
                                                            <span ng-if="month==2">Feb</span>
                                                            <span ng-if="month==3">Mar</span>
                                                            <span ng-if="month==4">Apr</span>
                                                            <span ng-if="month==5">May</span>
                                                            <span ng-if="month==6">Jun</span>
                                                            <span ng-if="month==7">Jul</span>
                                                            <span ng-if="month==8">Aug</span>
                                                            <span ng-if="month==9">Sep</span>
                                                            <span ng-if="month==10">Oct</span>
                                                            <span ng-if="month==12">Dec</span>
                                                            <span ng-if="month==11">Nov</span>
                                                        </div>
                                                        <!-- <script>
                                                            $(".datepickerEM").datepicker({
                                                                format: "mm",
                                                                viewMode: "months",
                                                                minViewMode: "months",
                                                                autoclose: true,
                                                            });
                                                        </script> -->
                                                        <!-- <button  type="button" class="btn btn-white input" ng-click="addFee(fee)"><i class="ti-plus" aria-hidden="true"></i> Save Fee</button> -->
                                                    </div>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-show="loadingdata" style="margin-top: 50px" class="d-flex justify-content-center">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>