<div class="row">
    <div class="col-12 col-xl-12 grid-margin stretch-card">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-4 mb-md-3">
                    <h6 class="card-title mb-0"> Add Students to Sections</h6>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <form class="form-inline">
                            <select ng-options="item.cls_title for item in getAllClasses track by item.cls_id" class="form-control input col-md-2" ng-model="srch.classId" ng-change="getSections(srch.classId.cls_id)">
                                <option value="" selected="">Select Class</option>
                            </select>
                            <!--<input type="text" class="form-control col-md-2 input" id="datepickerd" name="datepickerd" ng-model="srch.day" placeholder="Select day" autocomplete="off" />-->
                            <input type="text" class="form-control col-md-2 input" ng-model="srch.stdName" placeholder="Student Name" autocomplete="on" />
                            <input type="text" class="form-control col-md-2 input" ng-model="srch.regNo" placeholder="Admission No" autocomplete="on" />
                            <button class="btn btn-info input" ng-click="getStdSectionFunc(srch)"><i class="ti-search" aria-hidden="true"></i>Search</button>
                            <button ng-click="clearData()" class="btn btn-danger input"><i class="ti-brush"></i>Clear</button>
                        </form>
                        <div class="tbl-mlmis text-capitalize">
                            <table class="table table-bordered table-hover" id="" cellspacing="0" width="100%">
                                <thead class="thead-default">
                                    <tr>                               
                                        <th>Add No</th>
                                        <th>Name/F-Name</th>                               
                                        <th>Class</th>
                                        <th>
                                            <!--<select ng-options="item.sec_title for item in dataSection track by item.sec_id" class="btn btn-default" ng-model="fee.section">
                                                <option value="" selected="">Select Section</option>
                                            </select>-->
                                            <button type="button" class="btn btn-white"  ng-click="addStdToSectionFunc()"><i class="ti-plus" aria-hidden="true"></i> Submit</button>
                                            <button type="button" class="btn btn-danger" ng-click="resetClassAttendanceFunc()"><i class="ti-close" aria-hidden="true"></i>
                                             Cancel</button>
                                        </th>

                                       </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="fee in allFeeArray track by $index">
                                        <!--<td><input type="checkbox" id="check{{fee.std_id}}" ng-disabled="seletedones2[fee.std_id] || seletedones3[fee.std_id]" ng-model="seletedones[fee.std_id]" ng-change="selectchecked()" />-->
                                        <td>{{fee.std_admissionNo}}</td>

                                        <td><a href="" ui-sref="StudentProfile">{{ fee.std_name }} / {{ fee.std_fName }}</a></td>
                                        <td>
                                            <span>{{fee.cls_title}} /</span>

                                            <span class="text-danger" ng-if="fee.sec_title=='null' ||fee.sec_title==0 || fee.sec_title=='undefined'">NA</span>
                                            <span> {{fee.sec_title}}</span>
                                        </td>
                                        <td>
                                            <select class="btn btn-outline-secondary" ng-options="item.sec_title for item in dataSection track by item.sec_id" ng-model="sec.section[fee.std_id]" ng-change="getSec(sec.section[fee.std_id],fee.std_id)">
                                                <option value="">Select Section</option>
                                              <!--  <option ng-value="" selected="selected" ng-if="fee.sec_id==1">A</option>
                                                <option ng-value="" selected="selected" ng-if="fee.sec_id==2">B</option>
                                                <option ng-value="" selected="selected" ng-if="fee.sec_id==3">C</option>
                                                <option ng-value="" selected="selected" ng-if="fee.sec_id==4">D</option>
                                                <option ng-repeat="ds in dataSection track by ds.sec_id" ng-value="ds.sec_id">{{ds.sec_title}}</option>-->
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"></td>
                                        <td>
                                            <button type="button" class="btn btn-primary-2" ng-click="addStdToSectionFunc()"><i class="ti-plus" aria-hidden="true"></i> Submit</button>
                                            <button type="button" class="btn btn-danger" ng-click="resetClassAttendanceFunc()">Cancel</button>
                                        </td>
                                     </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-show="loadingdata" style="margin-top: 50px" class="d-flex justify-content-center">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>