<div class="row">
    <div class="col-12 col-xl-12 grid-margin stretch-card">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-4 mb-md-3">
                    <h6 class="card-title mb-0">Add Fee</h6>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <form class="form-inline d-print-none">
                            <select ng-options="item.cls_title for item in getAllClasses track by item.cls_id" class="form-control input col-md-2" ng-change="getSections(srch.classId.cls_id)" ng-model="srch.classId">
                                <option value="" selected="">Select Class</option>
                            </select>
                            <select ng-options="item.sec_title for item in dataSection track by item.sec_id" class="form-control input col-md-2" ng-model="srch.section">
                                <option value="" selected=""> Select Section</option>
                            </select>
                            <input type="text" class="form-control col-md-2 input" id="datepickerM" name="datepickerM" ng-model="srch.date1" placeholder="Select Month" autocomplete="off" />
                            <input type="text" class="form-control col-md-2 input" id="datepickerY" name="datepickerY" ng-model="srch.date2" placeholder="Select Year" autocomplete="off" />
                            <button class="btn btn-blue input" ng-click="getAllFees(srch)"><i class="ti-search" aria-hidden="true"></i> Search</button>
                            <button ng-click="clearData()" class="btn btn-danger input" href=""><i class="ti-brush"></i> Clear</button>
                            <button class="btn btn-success input" href="" ng-click="exportData()"><i class="ti-import"></i> Excel</button>
                            <!-- <button class="btn btn-primary input" ng-click="printFunction()" href=""><i class="ti-printer" aria-hidden="true"></i> Print</button> -->
                        </form>
                        <div id="exportable1">
                            <div class="table-responsive tbl-mlmis text-capitalize">
                                <table class="table table-bordered table-hover" id="" cellspacing="0" width="100%" style="position:relative;">
                                    <thead class="thead-default">
                                        <tr>
                                            <!-- <th>Reg No</th> -->
                                            <th>Name / F-Name</th>
                                            <th>Submitted</th>
                                            <th>Balance</th>
                                            <!--<th>Date</th>-->
                                            <th>Class</th>
                                            <!--<th>Paid Amount</th>-->
                                            <th>Month</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="fee in allFeeArray">
                                            <!-- <td>{{ fee.std_regNo }}</td> -->
                                            <td>{{ fee.std_name }} / {{ fee.std_fName }}</td>
                                            <td>{{ fee.fee_current }}</td>
                                            <td>{{ fee.std_balance }}</td>
                                            <!--<td>{{ fee.fee_subDate }}</td>-->
                                            <td>
                                                <span>{{fee.cls_title}} /</span>

                                                <span class="text-danger" ng-if="fee.sec_title=='null' ||fee.sec_title==0 || fee.sec_title=='undefined'">NA</span>
                                                <span> {{fee.sec_title}}</span>
                                            </td>
                                            <!--<td> {{fee.fee_amount}} </td>-->
                                            <td >
                                                <span ng-if="fee.fee_month==1">Jan</span>
                                                <span ng-if="fee.fee_month==2">Feb</span>
                                                <span ng-if="fee.fee_month==3">Mar</span>
                                                <span ng-if="fee.fee_month==4">Apr</span>
                                                <span ng-if="fee.fee_month==5">May</span>
                                                <span ng-if="fee.fee_month==6">Jun</span>
                                                <span ng-if="fee.fee_month==7">Jul</span>
                                                <span ng-if="fee.fee_month==8">Aug</span>
                                                <span ng-if="fee.fee_month==9">Sep</span>
                                                <span ng-if="fee.fee_month==10">Oct</span>
                                                <span ng-if="fee.fee_month==12">Dec</span>
                                                <span ng-if="fee.fee_month==11">Nov</span>
                                            </td>
                                            <td > Submitted </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div ng-show="loadingdata" style="margin-top: 50px" class="d-flex justify-content-center">
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>