<div class="row">
    <div class="col-12 col-xl-12 grid-margin stretch-card">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-4 mb-md-3">
                    <h6 class="card-title mb-0">Subject</h6>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <form class="form-inline" name="Form">
                            <!--<select class="form-control input col" ng-options="item.sb_name for item in getallsbjtdrp track by item.sb_id" ng-change="sm(subjt.Title)" ng-model="subjt.Title">
                                <option value="">Subjects</option>
                            </select>-->
                            <input class="form-control input col-md-2" ng-model="subjt.title" placeholder="Subject" />
                            <!-- <input name="coursecode" type="text" class="form-control input col" ng-model="subjt.Code" placeholder="Subject Code">-->
                            <select class="form-control input col-md-2" ng-options="item.stf_id as item.stf_name for item in rs.allTeacherArr" ng-model="rs.stf_id">
                                <option value="">Select Teacher</option>
                            </select>
                            <input name="Marks" type="text" class="form-control input col-md-2" ng-model="subjt.marks" placeholder="Marks">
                            <button type="button" class="btn btn-success input mb-2" ng-click="addSubject(subjt,rs)"><i class="ti-plus" aria-hidden="true"></i> Add</button>
                        </form>
                        <!-- collapse -->
                        <form class="form-inline float-right mb-3">
                            <input class="form-control form-control-rounded" id="key-search" ng-model="Searchsub" type="text" placeholder="Search ...">
                        </form>
                        <!-- Inner -->
                        <div class="table-responsive tbl-mlmis">
                            <table class="table table-hover" cellspacing="0" width="100%">
                                <thead class="">
                                    <tr>
                                        <th>No</th>
                                        <!--<th>Subject Code</th>-->
                                        <th>Subject Title</th>
                                        <th>Class Title</th>
                                        <!-- <th>Subject Teacher</th> -->
                                        <th>Subject Marks</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="sbj in allSubjectsArray|filter:Searchsub">
                                        <td>{{ $index+1 }}</td>
                                        <td>{{ sbj.sub_title }}</td>
                                        <td>{{ sbj.cls_title }}</td>
                                        <!-- <td>{{ sbj.stf_name }}</td> -->
                                        <td>{{ sbj.sub_marks }}</td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-icon" data-target="#editsub{{sbj.sub_id}}" data-toggle="modal" ng-click="editModal(sbj)">
                                                <i class="ti-pencil-alt"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger2 btn-icon" data-toggle="modal" title="Trash" data-target="#delete{{sbj.sub_id}}">
                                                <i class="ti-trash"></i>
                                            </button>

                                            <div class="modal fade bd-example-modal-sm" data-backdrop="static" data-keyboard="false" role="dialog" id="delete{{sbj.sub_id}}">
                                                <div class="modal-dialog modal-sm">
                                                    <div class="modal-content">
                                                        <div class="modal-body">
                                                            <div class="form-group" align="center">
                                                                <img src="img/subject.png" alt="image" width="120" height="120">
                                                                <h4 style="margin-top: 20px">Are you Sure?</h4>
                                                                <p>Do you really want to delete? <br> This process cannot be Undo.</p>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-danger" data-dismiss="modal"> Cancel</button>
                                                            <button type="button" class="btn btn-blue" data-dismiss="modal" ng-click="deleteSubject(sbj.sub_id)"> Delete Subject!</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Delete Alert -->
                                            <!-- Edit Modal -->
                                            <div class="modal fade modalBackground modalWindow" id="editsub{{sbj.sub_id}}" role="dialog" data-backdrop="static">
                                                <div class="modal-dialog">
                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Update Subject</h4>
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form id="add-Class" action="#" class="add-Class">
                                                                <div class="row">
                                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                        <div class="form-group row">
                                                                            <label class="control-label col-md-4"><b>Subject Name</b></label>
                                                                            <div class="col-md-8">
                                                                                <input name="coursename" type="text" class="form-control" ng-model="sbj.sub_title" placeholder="Subject Name">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group row">
                                                                            <label class="control-label col-md-4"><b>Subject Teacher</b></label>
                                                                            <div class="col-md-7">
                                                                                <select ng-options="item.stf_id as item.stf_name for item in rs.allTeacherArr" class="form-control" ng-model="rs.stf_id">
                                                                                    <option value="">Select Teacher</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group row">
                                                                            <label class="control-label col-md-4"><b>Subject Marks</b></label>
                                                                            <div class="col-md-8">
                                                                                <input name="coursecode" type="text" class="form-control" ng-model="sbj.sub_marks" placeholder="Subject Code">
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="ti-close" aria-hidden="true"></i> Close</button>
                                                            <button type="button" class="btn btn-info" ng-click="editSubject(sbj,rs)" data-dismiss="modal"><i class="ti-pencil-alt" aria-hidden="true"></i> Update</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Edit Modal -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-show="loadingdata" style="margin-top: 50px" class="d-flex justify-content-center">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>