<div class="container dashboard">
    <div class="row mb-2">
        <div class="col-12 col-sm-12 col-md-8 user-info-header">
            <div class="user-info">
                <div class="media">
                    <div class="user-img">
                        <img class="d-flex mr-3" src="../img/noor.jpg" alt="User image">
                    </div>
                    <div class="media-body mt-2">
                        <h4 class="mt-0">Noor Ul Haq</h4>
                        <h6>Front End Web Developer</h6>
                        <h6>OZOQO - Islamabad, Pakistan</h6>
                    </div>
                </div>
            </div>
            <div class="card card-custom">
                <a class="btn btn-dark-green waves-effect btn-md ml-auto" href="#!/profile">complete your profile</a>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12 col-sm-12 col-md-8">
            <div class="card card-custom">
                <div class="job-dashboard p-3">
                    <h4>My Jobs Applications</h4>
                    <div class="job-list p-3">
                        <div class="job">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h6><a>Front End Developer</a></h6>
                                    <div class="job-detail">
                                        OZOQO Technologies Pvt Limited, Islamabad, Pakistan
                                    </div>
                                </div>
                                <div class="col-sm-4 text-right">
                                    <div class="job-date mt-2">
                                        <i class="fa fa-calendar"></i>
                                        Aug 15, 2018
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="job-list p-3">
                        <div class="job">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h6><a>Front End Developer</a></h6>
                                    <div class="job-detail">
                                        OZOQO Technologies Pvt Limited, Islamabad, Pakistan
                                    </div>
                                </div>
                                <div class="col-sm-4 text-right">
                                    <div class="job-date mt-2">
                                        <i class="fa fa-calendar"></i>
                                        Aug 15, 2018
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="job-list p-3">
                        <div class="job">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h6><a>Front End Developer</a></h6>
                                    <div class="job-detail">
                                        OZOQO Technologies Pvt Limited, Islamabad, Pakistan
                                    </div>
                                </div>
                                <div class="col-sm-4 text-right">
                                    <div class="job-date mt-2">
                                        <i class="fa fa-calendar"></i>
                                        Aug 15, 2018
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>