
<div class="page-heading">
    <ol class="breadcrumb pb-3">
        <li class="breadcrumb-item">
            <a href="" ui-sref="home"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item"> Term Base</li>
    </ol>
</div>
<div class="ibox">
    <div class="ibox-body">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">                
                <div class="form-group">
                    <form class="form-inline">
                        <select ng-options="item.cls_title for item in AllClasses track by item.cls_id" class="form-control form-control-rounded input col-md-2" ng-model="rslt.class">
                            <option value="">Select Class</option>
                        </select>
                        <select class="form-control form-control-rounded input col-md-2" ng-model="rslt.term">
                            <option value="">Select Term</option>
                            <option value="1">1st Term</option>
                            <option value="2">2nd Term</option>
                            <option value="3">Final Term</option>
                        </select>

                        <select ng-options="item.sb_name for item in getallsbjtdrp track by item.sb_id" class="form-control form-control-rounded input col-md-2" ng-model="rslt.sbjtname">
                            <option value="">Select Subject</option>
                        </select>
                        <button ng-click="getAllStudents(rslt)" class="btn btn-outline-info btn-rounded"><i class="ti-search" aria-hidden="true"></i> Search</button>
                        <button ng-click="clearData()" class="btn btn-outline-danger btn-rounded input" href=""><i class="ti-brush"></i> Clear</button>
                    </form>
                </div>
                <div class="table-responsive row">

                    <table class="table table-bordered table-hover" id="example" cellspacing="0" width="100%">
                        <thead class="thead-default">
                            <tr>
                                <th>No</th>
                                <th>Name</th>
                                <th>Class</th>
                                <th>Subject</th>
                                <th>Term</th>
                                <th>Total Marks</th>
                                <th>Obtained Marks</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-capitalize" ng-repeat="stdnt in allStudentArray track by $index">
                                <td>{{ $index+1 }}</td>
                                <td><a href="" ui-sref="StudentProfile">{{ stdnt.std_name }}</a></td>
                                <td>
                                    <span ng-if="stdnt.cls_id==-2">Play Group</span>
                                    <span ng-if="stdnt.cls_id==-1">Nursary</span>
                                    <span ng-if="stdnt.cls_id==0">KG</span>
                                    <span ng-if="stdnt.cls_id==1">1<sup>st</sup></span>
                                    <span ng-if="stdnt.cls_id==2">2<sup>nd</sup></span>
                                    <span ng-if="stdnt.cls_id==3">3<sup>rd</sup></span>
                                    <span ng-if="stdnt.cls_id==4">4<sup>th</sup></span>
                                    <span ng-if="stdnt.cls_id==5">5<sup>th</sup></span>
                                    <span ng-if="stdnt.cls_id==6">6<sup>th</sup></span>
                                    <span ng-if="stdnt.cls_id==7">7<sup>th</sup></span>
                                    <span ng-if="stdnt.cls_id==8">8<sup>th</sup></span>
                                    <span ng-if="stdnt.cls_id==9">9<sup>th</sup></span>
                                    <span ng-if="stdnt.cls_id==10">10<sup>th</sup></span>
                                    <span class="text-capitalize">
                                        /
                                        <span class="text-danger" ng-if="stdnt.sec_id=='null' ||stdnt.sec_id==0 || stdnt.sec_id=='undefined'">NA</span> <span>
                                            <span class="text-success" ng-if="stdnt.sec_id==1">A</span>
                                            <span class="text-success" ng-if="stdnt.sec_id==2">B</span>
                                            <span class="text-success" ng-if="stdnt.sec_id==3">C</span>
                                            <span class="text-success" ng-if="stdnt.sec_id==4">D</span>
                                        </span>
                                    </span>
                                </td>
                                <td>
                                    {{stdnt.sub_title}}
                                </td>
                                <td>
                                    <span ng-if="rslt.term==1">1<sup>st</sup> Term</span>
                                    <span ng-if="rslt.term==2">2<sup>nd</sup> Term</span>
                                    <span ng-if="rslt.term==3">Final Term</span>                                   
                                </td>
                                <td>
                                    <input type="text" ng-model="stdnt.sub_marks" class="form-control form-control-rounded input">
                                </td>
                                <td>                                    
                                    <input type="text" ng-model="stdnt.obtMarks" class="form-control form-control-rounded input" tabindex="1">                                   
                                </td>
                                <td>
                                        <button type="button" class="btn btn-primary btn-rounded" ng-click="addResult(stdnt,rslt)">
                                            <span > Save </span>
                                         </button>
                                   
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    </form>
                </div>
                <div ng-show="loadingdata" align="center">
                    <img src="img/loder.gif">
                </div>
            </div>
        </div>
    </div>
</div>





