<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <!-- <div class="breadcome-heading">
                                <form role="search" class="sr-input-func">
                                    <input type="text" placeholder="Search..." class="search-int form-control">
                                    <a href="#"><i class="fa fa-search"></i></a>
                                </form>
                            </div> -->
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <ul class="breadcome-menu">
                                <li><a href="" ui-sref="home">Dashboard</a> <span class="bread-slash">/</span>
                                </li>
                                <li><span class="bread-blod"> Result Annual Base</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-payment-inner-st">
                    <ul id="myTabedu1" class="tab-review-design">
                        <li class="active"><a href="#description">Annual Base</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content custom-product-edit">
                        <div class="product-tab-list tab-pane fade active in" id="description">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="review-content-section">
                                        <form id="add-department" action="#" class="AddFee">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        <select class="form-control" placeholder="">
                                                            <option value=" ">Class Name</option>
                                                            <option value="1">Class Name</option>
                                                            <option value="2">Class Name</option>
                                                            <option value="3">Class Name</option>
                                                            <option value="4">Class Name</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <select class="form-control" placeholder="">
                                                            <option value="" >Student Name</option>
                                                            <option value="1">Student Name</option>
                                                            <option value="2">Student Name</option>
                                                            <option value="3">Student Name</option>
                                                            <option value="4">Student Name</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <input name="rollno" type="number" class="form-control" placeholder="Roll No">
                                                    </div>
                                                    <div class="form-group">
                                                        <input name="twriten" type="number" class="form-control" placeholder="Total Writen">
                                                    </div>
                                                    <div class="form-group">
                                                        <input name="owriten" type="number" class="form-control" placeholder="Obtain Writen">
                                                    </div>                                                    
                                                    <div class="form-group">
                                                        <input name="remarks" type="name" class="form-control" placeholder="Remarks">
                                                    </div>                                                    
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        <select class="form-control">
                                                            <option value="">Select Section</option>
                                                            <option value="A"> Section A</option>
                                                            <option value="B"> Section B</option>
                                                            <option value="C"> Section C</option>
                                                            <option value="D"> Section D</option>
                                                        </select>
                                                    </div>

                                                    <div class="form-group">
                                                        <select class="form-control" placeholder="">
                                                            <option value=" ">Father Name</option>
                                                            <option value="1">Father Name</option>
                                                            <option value="2">Father Name</option>
                                                            <option value="3">Father Name</option>
                                                            <option value="4">Father Name</option>
                                                        </select>
                                                    </div>

                                                    <div class="form-group">
                                                        <select class="form-control" placeholder="">
                                                            <option value=" ">Subject</option>
                                                            <option value="1">Subject</option>
                                                            <option value="2">Subject</option>
                                                            <option value="3">Subject</option>
                                                            <option value="4">Subject</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <input name="toral" type="name" class="form-control" placeholder="Total Oral">
                                                    </div>
                                                    <div class="form-group">
                                                        <input name="Feeremarks" type="name" class="form-control" placeholder="Obtain Oral">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="payment-adress">
                                                        <button type="submit" class="btn btn-primary waves-effect waves-light">Submit Result</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>