<div class="page-heading">
    <br>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="" ui-sref="home"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item"> Teacher Profile</li>
    </ol><br>
</div>
<div class="ibox">
    <div class="ibox-body">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="profile-info-inner">
                    <div class="profile-img">
                        <img src="img/profile/4.jpg" alt="" />
                    </div>
                    <hr class="mt-5 mb-5">
                    <div class="profile-details-hr">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                <div class="address-hr">
                                    <p><b>Name</b><br /> Ali</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                <div class="address-hr tb-sm-res-d-n dps-tb-ntn">
                                    <p><b>Designation</b><br /> Biology Teacher</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                <div class="address-hr">
                                    <p><b>Email</b><br /> abc@gmail.com</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                <div class="address-hr tb-sm-res-d-n dps-tb-ntn">
                                    <p><b>Phone</b><br /> +01962067309</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="address-hr">
                                    <p><b>Address</b><br /> E104, catn-2, Chandlodia Ahmedabad Gujarat, UK.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="ibox">
                    <div class="ibox-head">
                        <div class="ibox-title">Fill and justify</div>
                    </div>
                    <div class="ibox-body">
                        <ul class="nav nav-tabs tabs-line tabs-line-2x nav-fill tabs-line-success">
                            <li class="nav-item">
                                <a class="nav-link active" href="teacherProfile/tab-11-1" data-target="#tab-11-1" data-toggle="tab"><i class="ti-briefcase mr-2"></i>Active</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="teacherProfile/tab-11-2" data-target="#tab-11-2" data-toggle="tab"><i class="ti-support mr-2"></i>Second</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="teacherProfile/tab-11-3" data-target="#tab-11-3" data-toggle="tab"><i class="ti-settings mr-2"></i>Third</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="teacherProfile/tab-11-4" data-target="#tab-11-4" data-toggle="tab"><i class="ti-pulse mr-2"></i>Fourth</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active text-center" id="tab-11-1">
                                <div class="h1 mt-5 mb-3">TAB 1</div>
                                <p class="mb-5">Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et ullamco in pariatur dolor quis laboris ut.</p>
                            </div>
                            <div class="tab-pane fade text-center" id="tab-11-2">
                                <div class="h1 mt-5 mb-3">TAB 2</div>
                                <p class="mb-5">Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et ullamco in pariatur dolor quis laboris ut.</p>
                            </div>
                            <div class="tab-pane fade text-center" id="tab-11-3">
                                <div class="h1 mt-5 mb-3">TAB 3</div>
                                <p class="mb-5">Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et ullamco in pariatur dolor quis laboris ut.</p>
                            </div>
                            <div class="tab-pane fade text-center" id="tab-11-4">
                                <div class="h1 mt-5 mb-3">TAB 4</div>
                                <p class="mb-5">Laborum dolore consectetur occaecat in ex sunt et dolore dolore aliqua aute qui cupidatat et ullamco in pariatur dolor quis laboris ut.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
