<div class="page-content">
    <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
        <div>
            <h4 class="mb-3 mb-md-0">Welcome to Dashboard</h4>
        </div>
    </div>

    <!-- row -->
    <div class="row">
        <div class="col-12 col-xl-12 grid-margin stretch-card">
            <div class="card overflow-hidden">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-baseline mb-4 mb-md-3">
                        <h6 class="card-title mb-0">Dashboard</h6>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 grid-margin">
                            <div class="card text-white bg-primary">
                                <div class="card-header ulfont">Fee Management</div>
                                <div class="card-body">
                                    <!-- <h5 class="card-title text-white">Fee Management</h5> -->
                                    <ul class="ulfont">
                                        <li><a href="AddFee" class="small mg-t-box">Add Fee</a></li>
                                        <li><a href="AllFee" class="small mg-t-box">View Fees</a></li>
                                        <li><a href="addSingleStdFee" class="small mg-t-box">Individual Fee Submission</a></li>
                                        <li><a href="AddstdFee" class="small mg-t-box">Monthly Fee Submission</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 grid-margin">
                            <div class="card text-white bg-secondary">
                                <div class="card-header ulfont">Transaction</div>
                                <div class="card-body">
                                    <ul class="ulfont">
                                        <li><a href="Incomes" class="small mg-t-box">Incomes</a></li>
                                        <li style="margin-bottom: 65px"><a href="expencies" class="small mg-t-box">Expencies</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 grid-margin">
                            <div class="card text-white bg-success">
                                <div class="card-header ulfont">Attendance</div>
                                <div class="card-body">
                                    <ul class="ulfont">
                                        <li><a href="AttendanceReport" class="small mg-t-box">All Attendance Report</a></li>
                                        <li><a href="ClassAttendance" class="small mg-t-box"> Class Attendance</a></li>
                                        <li><a href="staffAttendance" class="small mg-t-box">Staff Attendance</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 grid-margin">
                            <div class="card text-white bg-dark">
                                <div class="card-header ulfont2">Exam</div>
                                <div class="card-body">
                                    <ul class="ulfont2">
                                        <li>
                                            <a href="ResultTermBase" class="small mg-t-box">Add Result</a></li>
                                        <li>
                                            <a href="dmc/#!/resultcard" target="_blank" class="small mg-t-box">Print Result</a>
                                        </li>
                                        <li>
                                            <a href="dmc/#!/awardlist" target="_blank" class="small mg-t-box">Award List</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 grid-margin">
                            <div class="card text-white bg-info">
                                <div class="card-header ulfont2">Backup</div>
                                <div class="card-body">
                                    <ul class="ulfont2">
                                        <li>
                                            <a href=" small mg-t-box ">BackUp</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- row -->
    </div>
</div>