<div class="container-fluid footer-container">
    <div class="row">
        <div class="content-wrapper .footer-wrapper p-0">
            <footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between d-print-none">
                <div class="row mx-0">
                    <div class="col-md-12 text-center">
                        <p class="text-muted text-center text-md-left">Copyright © 2019 <a href="https://www.softechschool.com" target="_blank">Softech School</a>. All rights reserved</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>